snippet clg "Console log a Value with pre tag."
	console.log('$0: ', ${0:})

snippet todo "Create a TODO comment"
	/**
	 * TODO: $0
	 */

snippet dq "Selector 选择器"
	document.querySelector('$0')

snippet dqa "SelectorAll 选择器"
	document.querySelectorAll('$0')

snippet did "ID 选择器"
	document.getElementById('$0')

snippet dtag "Tag 选择器"
	document.getElementsByTagName('$0')
