snippet sh
	#!/usr/bin/env sh

snippet bash
	#!/usr/bin/env bash

snippet author
  # Author: LongYinStudio <1606776851@qq.com> (https://github.com/LongYinStudio)
  # Date: `system("date +'%Y-%m-%d %H:%M:%S'")`
  # Desc: ${1:Describe something here.}
